<!DOCTYPE html>
<html lang="en">
  <!-- admin -->
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Tomasz Koltuniak, Szymon Dembinski" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
    <title>EU Mobility</title>
  </head>

  <body>
    <header>
      <h1>Hi {{ name }}</h1>
      <div>{{ email }}</div>
      <a class="button" href="/logout">Logout</a>
      <a href="/"
        ><img
          src="{{ url_for('static', filename='logo-szwecja.png') }}"
          alt="EU Mobility Sverige Logo"
          width="200"
          height="200"
      /></a>
      <!-- Search form -->
      <form id="search_form" method="POST" action="/">
        <input
          type="text"
          list="names"
          placeholder="Company name"
          name="company_name"
        />
        <datalist id="names">
          {% for name in companies_names %}
          <option value="{{ name }}">
          {% endfor %}
          </option>
        </datalist>

        <input
          type="text"
          list="fields"
          placeholder="Field of work"
          name="field_of_work"
        />
        <datalist id="fields">
          {% for field in fields %}
          <option value="{{ field }}">
          {% endfor %}
          </option>
        </datalist>

        <input
          type="submit"
          value="Search"
          name="submit"
          class="btn btn-primary search_btn"
        />
      </form>
      <button id="showFormButton2" class="btn btn-primary search_btn">
        Add new company
      </button>
    </header>
    <!-- Add new company form -->
    <dialog id="addCompanyDialog">
      <form method="POST" action="/add" id="addCompanyForm">
        <label for="company_name">Name of the company:</label>
        <input
          type="text"
          id="company_name"
          name="company_name"
          required
        /><br />

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" required /><br />

        <label for="contact_person">Name of Mentor/Contact person:</label>
        <input
          type="text"
          id="contact_person"
          name="contact_person"
          required
        /><br />

        <label for="phone_number">Phone number of the mentor:</label>
        <input
          type="tel"
          id="phone_number"
          name="phone_number"
          required
        /><br />

        <label for="max_students">Number of Maximum Students:</label>
        <input
          type="number"
          id="max_students"
          name="max_students"
          required
        /><br />

        <label for="field_of_work">Field of work:</label>
        <input
        type="text"
        list="fields"
        placeholder="Field of work"
        name="field_of_work"
      />
      <datalist id="fields">
        {% for field in fields %}
        <option value="{{ field }}">
        {% endfor %}
        </option>
      </datalist>
        ><br />

        <label for="latest_student_group">Latest student group:</label>
        <input
          type="text"
          id="latest_student_group"
          name="latest_student_group"
          required
        /><br />

        <button
          value="cancel"
          formmethod="dialog"
          onclick="closeDialog()"
          class="btn btn-primary search_btn"
        >
          Cancel
        </button>
        <input
          type="submit"
          name="submit"
          id="addCompanySubmitButton"
          class="btn btn-primary search_btn"
        />
      </form>
    </dialog>

    <!-- All data table -->
    <table class="table table-hover border-primary">
      <div id="top_column"></div>
      <thead>
        <tr>
          {% for column in columns %}
          <th>{{ column }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {% for item in output %}
        <tr>
          {% for key, value in item.items() %}
          <td>{{ value }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <script>
      var showFormButton2 = document.getElementById("showFormButton2");
      var addCompanyDialog = document.getElementById("addCompanyDialog");
      var addCompanyForm = document.getElementById("addCompanyForm");
      var addCompanySubmitButton = document.getElementById(
        "addCompanySubmitButton"
      );

      showFormButton2.addEventListener("click", function () {
        addCompanyDialog.showModal();
      });

      addCompanyForm.addEventListener("close", function () {
        addCompanyDialog.submit();
      });

      function closeDialog() {
        addCompanyDialog.close();
      }

      window.addEventListener("keydown", function (e) {
        if (e.key == "Enter") {
          if (addCompanyDialog.open) {
            addCompanySubmitButton.click();
          }
        }
      });
    </script>
  </body>
</html>
